@import url('https://fonts.googleapis.com/css?family=Exo+2:400,500,600,700&display=swap');

:root {
    --accent-primary: #4536bb;
    --accent-primary-light: #c5bff3;
    --c-bg-md: #1d1c25;

    --border-radius-elements: 5px;
    --border-radius-blocks: 10px;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    line-height: 21px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body * {
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    outline: none;
}

input, textarea, select{
    font-size: 0.9em;
}
button{
    font-size: 1em;
}


/* modal */
.modal{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.modal__overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--c-bg-md);
    opacity: 0.5;
}
.modal__content{
    position: relative;
    z-index: 10;
    width: 300px;
    padding: 20px 30px;
    border-radius: var(--border-radius-blocks);
    background: #fff;
}
.modal__title{
   text-align: center;
   font-size: 1.2em;
   font-weight: 500;
   margin-bottom: 10px;
}


/* auth-form */
.auth-form{
    position: relative;
    display: block;
    width: 100%;
}
.auth-form__field{
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    border: 1px solid var(--accent-primary);
    border-radius: var(--border-radius-elements);
    margin-bottom: 10px;
}
.auth-form__btn-send{
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: var(--border-radius-elements);
    background: var(--accent-primary);
    transition: all 0.3s ease-in;
    color: #fff;
    cursor: pointer;
}
.auth-form__btn-send:hover{
    opacity: 0.9;
}


/* chat */
.chat{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-auto-rows: 1fr minmax(60px, auto);
    grid-template-areas: 
      "chatUsers chatMessages"
      "chatUsers chatForm";
    height: 100vh;
}
.chat__users{
    grid-area: chatUsers;
    background: var(--c-bg-md);
}
.chat__messages{
    grid-area: chatMessages;
    border-bottom: 1px solid var(--c-bg-md);
}
.chat__form{
    grid-area: chatForm;
}

.chat-users{
    color: #fff;
}
.chat-users__self{
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.chat-users__list{
    padding: 10px 20px;
}
.chat-users__list-title{
    margin-bottom: 5px;
}
.chat-users__item{
    
}

/* chat-messages */
.chat-messages{
    padding: 1px 20px;
}
.chat-messages__item{
    margin: 10px 0;
    padding: 10px 20px;
    background: var(--accent-primary-light);
    border-radius: var(--border-radius-elements);
}
.chat-messages__item-author{
    font-size: 0.9em;
    line-height: 0.9em;
    font-weight: 600;
    margin-bottom: 0.1em;
}
.chat-messages__item-author{

}

/* chat-send-form */
.chat-send-form{
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
}
.chat-send-form__field{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 60px;
    padding: 10px 100px 10px 20px;
    border: none;
}
.chat-send-form__btn-send{
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: var(--border-radius-elements);
    background: var(--accent-primary);
    transition: all 0.3s ease-in;
    color: #fff;
    cursor: pointer;
}
.chat-send-form__btn-send:hover{
    opacity: 0.9;
}
