body{
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    line-height: 21px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #212121;
}

body * {
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    outline: none;
}

input, textarea, select{
    font-size: 0.9em;
}
button{
    font-size: 1em;
}
